*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{	
	font-family: "微软雅黑";
	color: #333;
	/*background-color: rgb(30,30,30);*/
}
a{
	color: rgb(153,153,153);
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
.jfr_container{
	vertical-align: baseline;
	height: auto;
    margin: 0 auto;
    background: #1e1e1e;
    padding-bottom: 3.5em;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	
}
.jfr_container>.jfr_header{	
	width: 100%;
}
.jfr_header_box_header_photo{
	display: flex;
	width: 100%;
}
.jfr_header_box_header_photo>img{
	width: 100%;
}

.jfr_header_box_label{
	display: flex;
	width: 100%;
	font-size: 0.9em;
	margin: 0px;
	background-color: rgb(38,38,38);
	height: 40px;
	align-items: center;
	align-content: space-around;
}
.jfr_header_box_label>li{
	/*float: left;*/
	color: rgb(153,153,153);
	width: 100%;
	height: 20px;
	text-align: center;
}
.jfr_header>.jfr_header_box_label>.jfr_header_box_label_bar{
	width: 10px;
}
.jfr_title{
	margin-top: 10px;
	width: 100%;
	height: 60px;
	text-align: center;
}
.jfr_title_bottom{
	color: #605641;
	font-size: 0.7692em;
}
.jfr_title_top{
	font-size: 1.1em;
	color: white;
}
.jfr_title_under{	
	color: #605641;
}
.jfr_nav{
	display: flex;
	flex-direction: column;
}
.jfr_nav>.jfr_nav_first,.jfr_nav>.jfr_nav_second,.jfr_nav>.jfr_nav_three{
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 2px 5px;	
}
.jfr_nav>.jfr_nav_first>div,.jfr_nav>.jfr_nav_three>div,.jfr_nav>.jfr_nav_second>div{
	width: 33%;
	height: 80px;
	margin: 0px 5px;
}
.jfr_nav>.jfr_nav_first>div>a>img,.jfr_nav>.jfr_nav_three>div>a>img,.jfr_nav>.jfr_nav_second>div>a>img{
	width: 100%;
	display: block;
}
.jfr_nav>.jfr_nav_first>div>a>p,.jfr_nav>.jfr_nav_second>div>a>p,.jfr_nav>.jfr_nav_three>div>a>p{
	
	color: rgb(175,178,176);
	font-size: 0.7em;
}
.jfr_cop{
	margin-top: 10px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 0.7em;
}
.jfr_aside{
	width: 100%;
	display: flex;
}
.jfr_aside_right{
	position: fixed;
	top: 40%;
	right: 0px;
}
.jfr_aside_bottom{
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.jfr_aside_bottom_photo{
	width: 100%;
}