*{
	margin:0;
	padding:0;
	-webkit-tap-highlight-color:transparent;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	font-size:14px;
	font-family: "微软雅黑"
	color:#333;
}
a{
	color:rgb(153,153,153);
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline:none;
	-webkit-appearance:none;
}
ul,ol{
	list-style:none;
}
.jfr_container{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	/*border:1px solid red;*/
}
.jfr_container>.jfr_header{	
	width: 100%;
/*	max-width: 640px;
	min-width: 320px;*/
	/*border:1px solid red;*/
}
.jfr_header_box_header_photo{
	display: flex;
	width: 100%;
}
.jfr_header_box_header_photo>img{
	/*display: flex;*/
	width: 100%;
}

.jfr_header_box_label{
	display: flex;
	width: 100%;
	font-size: 15px;
	/*padding-left: 20px;*/ 
	background-color: rgb(38,38,38);
	height: 40px;
	align-items: center;
	align-content: space-around;
	/*padding: 10px auto;*/
	/*max-width: 640px;
	min-width: 320px;*/
}
.jfr_header_box_label>li{
	float: left;
	/*margin-left: 12px;*/
	color: rgb(153,153,153);
	width: 100%;
	height: 20px;
	/*border: 1px solid red;*/
	text-align: center;
	/*margin-left: 10px;
	margin-right: 10px;*/
}
.jfr_header>.jfr_header_box_label>.jfr_header_box_label_bar{
	width: 10px;
	color:rgb(78,78,78);
}
.background{
	background:rgb(30,30,30);
	color:white;
	text-align: center;
	height:80px;
	padding-top:20px;
	font-size:22px;
	/*display:flex;
*/
}
.bar{
	border-bottom: 1px solid  rgb(96,86,65);
	width:20px;
	align-items:center;
	position: absolute;
	left:155px;
	margin-top:5px;
}

.font{
	color:rgb(96,86,65);
}
.jfr_container{
	width:100%;
}
.picture{
	/*display:flex;*/
	width:100%;
}
.picture>img{
	width:100%;
	display: block;
}
.footer{
	height:25px;
	background:rgb(30,30,30);
	color:white;
	text-align: center;
	font-size:17px;
}
.custom{
	height:30px;
	background:rgb(87,89,88);
	color:white;
	text-align: center;
}
.jfr_aside{
	display: flex;
	/*width: 100%;*/
	/*max-width: 640px;
	min-width: 320px;*/
}
.jfr_aside_right{
	
	
	position: fixed;
	top: 40%;
	right: 0px;
	/*background-image: url(images/jfr_aside_right.png);*/
}
.jfr_aside_bottom{
	/*background-image: url(images/jfr_aside_bottom.png);*/
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	/*right: 0px;*/
	/*border:1px solid red;*/
}
.jfr_aside_bottom_photo{
	width: 100%;
}
